.App {
  font-family: sans-serif;
  text-align: center;
}

.heading{
  border: 1px solid red;
  padding: 5px;
  background-color: olive;
  color:white;
}

.search-container {
  border: 1px solid red;
  margin: 20px;
}

.search-bar {
  padding: 10px;
  width: 90%;
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 100px auto;
  /* border: 1px solid red; */
}

.text-center {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  margin: 2rem 0;
  /* border: 1px solid red; */
}

.grid-card {
  /* position: relative; */
  padding: 10px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 8px #00000026;
  transition: all 0.1s ease-in-out;
}

.text {
  /* border: 1px solid red; */
  margin-bottom: 5px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: olive;
}
